<p id="notice"><%= notice %></p>

<h2>Current and upcoming bookings</h2>

<table>
  <thead>
    <tr>
      <th>Room number</th>
      <th>User</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room_number %></td>
        <td><%= @users.find(booking.user_id).name %></td>
        <td><%= booking.datetime %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Cancel booking', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

