<script type="text/javascript">
</script>


<% if(@availability=="booked")%>
	<h2>Booked Rooms</h2>
	<table class="table">
		<tr><th>Room Number</th><th>Location</th></tr>
		<% @commonRooms.each do |r| %>
			<tr>
				<th>
					<%= r.room_number%>
				</th>
				<th>
					<%=r.building%>
				</th>
			</tr>
		<%end%>
	</table>
<%else%>

	<h2>Available Rooms</h2>
	<table class="table">
		<tr><th>Room Number</th><th>Location</th></tr>
		<% @uncommon.each do |r| %>
			<tr>
				<th>
					<%= r.room_number%>
				</th>
				<th>
					<%=r.building%>
				</th>
				<th>
					<form action="newBooking" method="get">
						<input type="hidden" name="room_number" value="<%= r.room_number%>">
						<input type="hidden" name="datetime" value="<%= @datetime%>">
						<input type="hidden" name="user_id" value="<%= @user_id%>">
						<input type="submit" value="Book Now">
					</form>
				</th>
			</tr>
		<%end%>
	<%end%>
	</table>




