<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @booking.room_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @booking.datetime %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
