<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<form action="/bookings_path/userhistory" method="get">
	<input type="hidden" name="user_id" value="<%=@user.id%>">
	<input type="submit" name="Show History" value="Show History">
</form>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
