<!DOCTYPE html>
<html>
<head>
  <title>Library App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
  <link rel="stylesheet" href="/resources/demos/style.css">
<%if(session[:user]) %>
</head>
  <h3>Navigation</h3>
  <a href="/bookings">Home</a>
  <a href="/bookings_path/search">Book a Room</a>
  <a href="/bookings">Manage Bookings</a>
  <a href="logout">Logout</a>
  <div>
    Welcome: 
    <%= session[:user]["name"]%>
    <%if(session[:user]["admin"]) %>
      <a href="/users">All Users</a>
      <a href="/bookings_path/allrooms">All Bookings</a>
      <a href="/rooms">All Rooms</a>
      <a href="/bookings_path/bookForUser">Book for a user</a>
    <%end%>
  </div>


  <%end%>
  <body>
    <%= yield %>
  </body>
</html>
