<!DOCTYPE html>
<html>
<head>
  <title>Library App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <%if(session[:user]) %>
</head>
  <h3>Navigation</h3>
  <a href="/bookings">Home</a>
  <a href="/bookings/new">Book a Room</a>
  <a href="/bookings">Manage Bookings</a>
  <a href="users/logout">Logout</a>
  <div>
    Welcome: 
    <%= session[:user]["name"]%>
    <%if(session[:user]["admin"]=="TRUE") %>
      <a href="/users">All Users</a>
      <a href="/rooms">Manage Rooms</a>
    <%end%>
  </div>


  <%end%>

  <body>
    <%= yield %>
  </body>
</html>
